.largura {
  width: 700px;
  margin: auto;
  background:rgb(117, 107, 107);
}

.menu {

  font-size: 18px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.menu > a {
  text-decoration: none;
  color: rgb(212, 68, 24);
  margin-right: 20px;
}

.menu > a:visited {
  color: rgb(41, 77, 145);
}

.menu > a:hover {
  color:brown
}

h1, h2{
  font-family: '', ;
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
}
.selecionado {
  border-bottom: 2px dotted rgb(41, 145, 128);
}
.cor1 {
  color: blue;
}

